[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"autopep8" = "*"
"beautifulsoup4" = "*"
"bs4" = "*"
certifi = "*"
chardet = "*"
django-rest-framework = "*"
django-silk = "*"
django-webpack-loader = "*"
djangorestframework = "*"
"gprof2dot" = "*"
gunicorn = "*"
"html5lib" = "*"
idna = "*"
"psycopg2-binary" = "*"
pycodestyle = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
six = "*"
sqlparse = "*"
"urllib3" = "*"
webencodings = "*"
Django = "*"
"Jinja2" = "*"
MarkupSafe = "*"
Pygments = "*"
lxml = "*"
pytest = "*"
pytest-django = "*"
django-cors-headers = "*"
django-webtest = "*"
uwsgi = "*"
argon2-cffi = "*"
django-allauth = "*"
django-extensions = "*"
pytest-mock = "*"

[dev-packages]
"flake8" = "*"
ipython = "*"
mypy = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
